<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OldManHappy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2DCF19DF1DCF142300A4F243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DCF19F81DCF142400A4F243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DCF1A031DCF142400A4F243</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
